@import 'fonts'

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, code, img, b, i, center, dl, dt, dd, ol, ul, li, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, footer, header, nav, section, audio, video
  margin: 0
  padding: 0
  border: 0
  font-family: inherit
  vertical-align: baseline
  box-sizing: border-box

/* HTML5 display-role reset for older browsers

article, aside, footer, header, menu, nav, section
  display: block

body
  line-height: 1.6
  font-family: $text-font
  font-size: 16px

h1, h2, h3, h4, h5 //, h6
  margin: .5em 0
  font-family: $title-font

h1
  font-size: 3rem
h2
  font-size: 2.5rem
h3
  font-size: 2rem
h4
  font-size: 1.75rem
h5
  font-size: 1.5rem
h6
  font-size: 1rem

p
  margin: 1em 0
  text-align: justify

ol, ul
  list-style-position: inside

table
  border-collapse: collapse
  border-spacing: 0

a
  color: $primary
  text-decoration: none

button, input
  font-family: $title-font

pre
  background-color: $gray-dark
  padding: 1rem
  display: block
  color: white

hr
  border: none
  border-top: 1px solid $gray-light
  margin: 2rem
