// Colors
$black: #000
$gray-dark: lighten($black, 30%)
$gray: lighten($black, 60%)
$gray-light: lighten($black, 90%)
$gray-lighter: lighten($black, 98%)
$white: #fff

$green: #428f68
$primary: $green

// Fonts
$title-font: "Open Sans", sans-serif
$text-font: "Raleway", sans-serif
$fantasy-font: "LeviReBrushed", "Raleway", sans-serif

// Sizes
$menu-width: 6rem

// Breakpoints
$xx-large: 1440px
$x-large: 1224px
$large: 1024px
$medium: 768px
$small: 480px
$x-small: 320px

// Grid
$gutter: .5rem
